<h2>Welcome!</h2><h3>You have reached the GitHub page for Derek Fitzgerald.</h3>
<p><img src="../img/me.jpg" width="100em" height="100em"  alt="Derek Fitzgerald" title="Follow me on Twitter @Dextropa"  class="img-rounded floatLeft" />
	I have been doing software development for the past twenty five (plus) years, starting in C++ and Java. My primary focus during the last twenty years has been on .Net (since .Net 1.0) apps (Windows and Web) and SQL Server backend.
	 I have recently been working with React and HANA and have worked on same Angular JS apps. </p>	
	 <p><small>A big thanks to <a href="http://erjjones.github.io/blog/How-I-built-my-blog-in-one-day#:~:text=GitHub%20I%20choose%20to%20use%20GitHub%20to%20host,setup%20instructions.%20Create%20a%20GitHub%20Pagewith%20your%20username." title="How I built my blog in one day" target="_blank">Eric Jones</a> for his blog on creating a GitHub blog.</small></p>				
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=codingcohesion&repo=codingcohesion.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=codingcohesion&repo=erjjones.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/dextropa" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @dextropa</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/codingcohesion" rel="me" class="social github" title="Go to github.com/codingcohesion" target="_blank"></a></li>
	  <!-- <li><a href="http://www.linkedin.com/pub/codingcohesion/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li> -->
	  <li><a href="http://www.twitter.com/dextropa" rel="me" class="social twitter" title="Go to twitter.com/codingcohesion" target="_blank"></a></li>
	  <!-- <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner erjjones rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> -->
	  <li><a href="https://github.com/codingcohesion/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Derek"  target="_blank"></a></li>				 
	</ul>
</p>